<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycling Process</title>
</head>
<style>
body{
    background-color: #000;
}
h1 {
    position: absolute;
    left: 30%;
    top: 20%;
    font-size: 3rem;
    color: #fff;
    opacity: 90%;
}
h1 span{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    letter-spacing: 1.5rem;
}

</style>
<body>
<%- include('partials/sidebar') %>
<img src="images/recycle.png" alt="">
<h1>Recycling Process
<br><br>
<span>. . .</span>
</h1>
<%- include('partials/footer') %>
</body>
</html>